.main {
  background-color: #f0f2f5;
  height: 100%;
  .ant-typography {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #636e72;
    font-weight: 700;
  }
}
