.iconBtn {
  background-color: #f5f6fa;
  border: none;
  color: black;
  &[ant-click-animating-without-extra-node]:after {
    animation: none !important;
  }
  &:hover,
  &:focus {
    background-color: #dcdde1;
    color: inherit;
  }
}
